:export {
    controlRadius: $control-radius;
    controlRadiusSmall: $control-radius-small;

    controlBorderWidth: $control-border-width;

    controlHeight: $control-height;
    controlLineHeight: $control-line-height;

    controlPaddingVertical: $control-padding-vertical;
    controlPaddingHorizontal: $control-padding-horizontal;
}
