@import "~bulma/sass/utilities/functions.sass";

:export {
    primary: $primary;

    info: $info;
    success: $success;
    warning: $warning;
    danger: $danger;

    light: $light;
    dark: $dark;

    // Invert colors

    orangeInvert:$orange-invert;
    yellowInvert: $yellow-invert;
    greenInvert: $green-invert;
    turquoiseInvert: $turquoise-invert;
    cyanInvert: $cyan-invert;
    blueInvert: $blue-invert;
    purpleInvert: $purple-invert;
    redInvert: $red-invert;

    primaryInvert: $primary-invert;
    primaryLight: $primary-light;
    primaryDark: $primary-dark;
    infoInvert: $info-invert;
    infoLight: $info-light;
    infoDark: $info-dark;
    successInvert: $success-invert;
    successLight: $success-light;
    successDark: $success-dark;
    warningInvert: $warning-invert;
    warningLight: $warning-light;
    warningDark: $warning-dark;
    dangerInvert: $danger-invert;
    dangerLight: $danger-light;
    dangerDark: $danger-dark;
    lightInvert: $light-invert;
    darkInvert: $dark-invert;

    // General colors
    schemeMain: $scheme-main;
    schemeMainBis: $scheme-main-bis;
    schemeMainTer: $scheme-main-ter;
    schemeInvert: $scheme-invert;
    schemeInvertBis: $scheme-invert-bis;
    schemeInvertTer: $scheme-invert-ter;

    background: $background;

    border: $border;
    borderHover: $border-hover;
    borderLight: $border-light;
    borderLightHover: $border-light-hover;

    // Text colors

    text: $text;
    textInvert: $text-invert;
    textLight: $text-light;
    textStrong: $text-strong;

    // Code colors

    code: $code;
    codeBackground: $code-background;

    pre: $pre;
    preBackground: $pre-background;

    // Link colors

    $link: $link;
    $linkInvert: $link-invert;
    $linkLight: $link-light;
    $linkDark: $link-dark;
    $linkVisited: $link-visited;

    $linkHover: $link-hover;
    $linkHoverBorder: $link-hover-border;

    $linkFocus: $link-focus;
    $linkFocusBorder: $link-focus-border;

    $linkActive: $link-active;
    $linkActiveBorder: $link-active-border;

    // Typography

    familyPrimary: $family-primary;
    familySecondary: $family-secondary;
    familyCode: $family-code;

    sizeSmall: $size-small;
    sizeNormal: $size-normal;
    sizeMedium: $size-medium;
    sizeLarge: $size-large;

    // Lists and maps

    // customColors: $custom-colors;
    // customShades: $custom-shades;

    // colors: $colors;
    // shades: $shades;

    // sizes: $sizes;
}
